@font-face {
    font-family: 'Quicksand';
    src: url(font/Quicksand_Book_Oblique.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(font/Comfortaa-Light.ttf);
    font-weight: bold;
    font-style: normal;
}

body {
    padding: 0px;
    margin: 0px;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    color: #fff;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Comfortaa;

}

header img {
    padding-top: 10px;
    padding-left: 30px;
    flex-shrink: 2;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-size: 2.3em;
    font-weight: 0.7em;
    line-height: 0.6em;
    white-space: nowrap;
}

h2 {
    font-family: Comfortaa;
    /*border-bottom: 2px #ffffff solid;*/
}

nav {
    color: #fff;
    width: 60%;
    font-size: 1.2em;
    margin-top: 1.5%;
    text-align: center;
}

header nav a:link,
header nav a:visited {
    color: #fff;
    text-decoration: none;
    margin-right: 4%;
    padding: 2px 7px;
    border: 2px #000000 solid;
    white-space: nowrap;
}

header nav a:hover {
    border-bottom: 2px #39e0ff solid;
    border-radius: 10px 10px;
    transition: 1s;
    color: #39e0ff;
}

/* HEADER */

/* MAIN*/
main {
    background-image: url("img/imageedit_1_2786271659.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.mainP{
    height: 400px;
}

/* FOOTER */
footer {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2% 2%;
    color: #fff;
    font-family: Quicksand;
    margin: 5% 5% 0% 5%;
    border-radius: 5px 5px 0px 0px;
}

footer section {
    display: inline-flex;
    flex-direction: row;
}

footer section article {
    border-right: #fff 1px solid;
    margin-right: 2%;
    padding: 1%;
}

footer section article:nth-child(4) {
    border-right: none;
}

footer figure {
    display: flex;
    justify-content: space-between;
}

/*MEDIA QUERY*/
@media (max-width: 776px) {
    header nav a:link {
        border: none;
    }

    header nav {
        width: 90%;
    }

    header h1 {
        display: none;
    }
}

@media (max-width: 1050px) {
    footer section article:nth-child(4) {
        display: none;
    }

    footer section article:nth-child(3) {
        border-right: none;
    }
}

@media (max-width: 1250px) {
    footer {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 0%;
    }
}