/* FONT  */
@font-face {
    font-family: 'Quicksand';
    src: url(font/Quicksand_Book.otf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa';
    src: url(font/Comfortaa-Light.ttf);
    font-weight: bold;
    font-style: normal;
}
/* FONT  */
body {
    padding: 0px;
    margin: 0px;
}
/* HEADER */
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    color: #fff;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Comfortaa;
    min-height: 70px;
}

header img{
    padding-top: 10px;
    padding-left: 20px;
    flex-shrink: 2;
    width: 50px;
    height: 50px;
}

h1{
    font-size: 30px;
    text-align: center;
    font-size: 2.3em;
    font-weight: 0.7em;
    line-height: 0.6em;
    white-space: nowrap;
}
h2 {
    font-family: Comfortaa;
    /*border-bottom: 2px #ffffff solid;*/
}
nav{
    color: #fff;
    width: 60%;
    font-size: 1.2em;
    margin-top: 1.5%;
    text-align: center;
}
header a:link,
header a:visited {
    color: #fff;
    text-decoration: none;
}
header nav a:link,
header nav a:visited{
    margin-right: 4%;
    padding: 2px 7px;
    white-space: nowrap;
}

header nav a:hover{
    /*border-bottom: 2px #39e0ff solid;
    border-radius: 10px 10px;
    transition: 1s;
    color: #39e0ff;*/
    background-image: url(img/surveillance.png);
    background-repeat: repeat-y;
    padding-left: 32px;
    transition: 0.5s;
    border-bottom: 1px #39e0ff solid;
}
/* HEADER */

/* MAIN */
main{ /* Pour l'image de fond */
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* MAIN INDEX.HTML*/
.mainaceeuil section{
    margin: 5% 7%;
    width: 83%;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #000;
    border-radius: 15px 15px;
    box-shadow: -5px -5px 5px #0000;
    color: #fff;
    font-family: Quicksand;
    padding: 10px 15px;
    display: inline-flex;
    flex-direction: row;
}

.mainaceeuil article {
    width: 50%;
}
.mainaceeuil article p::first-letter {
    padding-left: 2em;
}
.mainaceeuil section figure {
    width: 50%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mainaceeuil section figure img:nth-child(1),
.mainaceeuil section figure img:nth-child(2) {
    margin-bottom: 3%;
}
.mainaceeuil section figure img {
    border-radius: 5px 5px;
    width: 200px;
    height: 130px;
}
/* MAIN INDEX.HTML*/
/* MAIN PRESTATION.HTML*/
.mainprestation{
    padding-top: 2%;
}

.mainprestation section{
    margin: 0% 7% 5% 7%;
    width: 83%;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #000;
    border-radius: 15px 15px;
    color: #fff;
    font-family: Quicksand;
    padding: 10px 15px;
}
.mainprestation article {
    display: flex;
}
.mainprestation section > h2 {
    text-align: center;
}

.mainprestation section a:link,
.mainprestation section a:visited {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.mainprestation section a:hover{
    border: 1px #39e0ff solid;
    border-radius: 5px 5px;
    transition: .4s;
    color: #ffffff;
    padding: 2px 2px;
}
.descriptionLong{
    display: block;
}
.descriptionCourt{
    display: none;
}
.mainprestation section figure img {
    border-radius: 5px 5px;
    width: 200px;
    height: 130px;
}
.mainprestation figcaption {
    text-align: center;
}

/*Main du produit*/
.mainProduit{
    padding-top: 2%;
}

.mainProduit section {
    margin: 0% 7% 5% 7%;
    width: 83%;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #000;
    border-radius: 15px 15px;
    color: #fff;
    font-family: Quicksand;
    padding: 15px 15px;
}
.mainProduit p{
    padding-left: 20px;
    line-height: 1.3em;
}
.mainProduit article img{
    float: right;
    padding-left: 50px;
}
.mainProduit h3{
    border-bottom: 1px solid #ffffff;
    margin-bottom: 5px;
}
.mainProduit .articleCategorie{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 10px 10px;
    padding: 5px;
}
.tarif{
    margin-top: 20px;
    text-align: center;
}

/* FOOTER */
footer{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2% 2%;
    color: #fff;
    font-family: Quicksand;
    margin: 5% 5% 0% 5%;
    border-radius: 5px 5px 0px 0px;
    display: inline-flex;
    flex-direction: row;
}

footer div{
    border-right: #fff 1px solid;
    margin-right: 2%;
    padding: 1%;
}

footer div:nth-child(4) {
    border-right: none;
}

footer div figure {
    display: flex;
    justify-content: space-between;
    width: 125px;
}


/*MEDIA QUERY*/
@media (max-width: 800px) {
    header nav a:link {
        border: none;
    }

    header nav {
        width: 90%;
    }

    header h1 {
        display: none;
    }
}

@media (max-width: 1050px) {
    footer div:nth-child(4) {
        display: none;
    }
    footer div:nth-child(3) {
        border-right: none;
    }
    .descriptionLong{
        display: none;
    }
    .descriptionCourt{
        display: block;
    }
    .mainaceeuil section figure img {
        margin-bottom: 3%;
    }
}

@media (max-width: 1250px) {
    footer {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 0%;
    }
    header nav a:nth-child(4){
        padding-left: 34px;
        padding-top: 4px;
    }
    header nav a:nth-child(4):hover{
        background-image: url(img/surveillance.png);
        background-repeat: repeat-y;
        padding-left: 32px;
        transition: 0.5s;
        border-bottom: 1px #39e0ff solid;
    }
}

